# Arquivos invisíveis no Finder
.DS_Store

# Pastas de build geradas pelo Xcode
build/
DerivedData/

# Configurações locais de usuário do Xcode
*.xcworkspace/xcuserdata/
*.xcuserstate

# Arquivos gerados por Swift Package Manager
.build/

# Dependências do CocoaPods
Pods/